<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Check Calculator </title>
    <link href="../static/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Please enter information into the fields.</h1>
    <form action="{{url_for('result')}}" method="POST">
        <input title="Please enter your zip code." placeholder="Zip Code"
               type="number" name="zip_code" required><br>

        <button type="submit"> Submit </button>

    </form>


</div>

</body>
</html>
